$color: #548cfe;
@import "../../../share/cssMixin/cssMixin";

.exercise-content-container {
  $exerciseNumberHeight: 2rem;
  margin: 2rem 0 0 0;
  border-bottom: 1px solid #e4dddd;
  padding-bottom: 2rem;

  .exercise-content-number {
    @include flex-left-layout;
    height: $exerciseNumberHeight;
    line-height: $exerciseNumberHeight;
    color: $color;
    font: {
      size: 1.3rem;
    }

    p {
      margin-right: 1rem;
    }
  }

  .exercise-content-details {
    margin-bottom: 1rem;
    white-space: pre-line;
    word-wrap: break-word;
    word-break: break-all;
    font: {
      size: 1.2rem;
    }
  }

  .analysis-con {
    $analysis: 2rem;
    height: $analysis;
    font-size: 1rem;
  }
}

$rowHeight: 1.5rem;
.ans-item-container {
  .ans-row-container {
    line-height: $rowHeight;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    font: {
      size: 1.3rem;
    }
    div {
      cursor: pointer;
    }

  }
}

.ans-row-container div:nth-child(1) {
  $circleSize: 2rem;
  height: $circleSize;
  cursor: pointer;
  width: $circleSize;
  border-radius: 50%;
  border: 1px solid $color;
  text-align: center;
  line-height: $circleSize;
  color: $color;
}

.ans-row-container div:nth-child(2) {
  height: 100%;
  line-height: $rowHeight;
  margin-left: 1rem;
  font-size: 1rem;
  color: black;
}

.fill-input-container {
  .fill-field:before {
    content: '答案';
  }

  .fill-field {
    width: 30%;
    border: 1px solid #548cfe;
    box-shadow: 0 0 2px 2px #548cfe;
    padding: 0 10px 0 6px;
    font-size: 1.3em;
    color: #548cfe;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
  }
}


